@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic);
body {
	font-family: 'Merriweather'; sans-serif;
	font-weight: 300;
	font-style: italic;
	text-align: left;
	font-size: 30px;
	color: #fff;
	line-height: 1.6;
	background-color: #00d0b9;
}

.container {
	margin: 0 auto;
}

.bio {
	padding: 70px 0 0 30px;
	width: 100%;
	border-left: dotted #fff 1px;
}

.bio img {
	border-radius: 50% 70% 10% 40%;
	width:300px;
}

p {
	padding: 20px 0 20px 0;
}

a {
	color:#fff;
}

a:hover{
	color: #008E7E;
}